.container {
    display: flex;
    flex: 1;
    height: 3em;
    /* align-items: center; */
    background-color: aqua;
    /* align-content: center; */
    /* justify-content: center; */
    flex-direction: row;
}

.homeButton {
    background-color: antiquewhite;
    /* align-items: center; */
    /* flex-direction: row; */
}

.button {
    flex: 1;
    /* align-content: center; */
    /* justify-content: center; */
    padding: 1em;
    margin: 1em;
    /* flex-direction: row; */
}