.navBar {
    display: flex;
    height: 5em;
    align-items: center;
    background-color: aqua;
    justify-content: center;
    
}

.navBar a {
    margin: 1em;
    padding: 1.5em;
    width: 6em;
    height: 2em;
    border: 3px solid black;
    border-radius: 1em;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: yellow;
}

.navBar a:hover,
.navBar a:focus,
.navBar a:active {
  color: #0070f3;
  border-color: #0070f3;
}